[submodule "pcsclib"]
	path = pcsclib
	url = https://aoller_developer@bitbucket.org/aoller_developer/pcsclib.git
	branch = master
[submodule "aggitypresencecontrolswaggerclient"]
	path = aggitypresencecontrolswaggerclient
	url = https://aoller_developer@bitbucket.org/aoller_developer/aggitypresencecontrolswaggerclient.git
