<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!-- init log4net -->
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!-- end log4net -->
  <appSettings>
    <add key="DATABASE_FILE" value="c:\aggity\AggityPresenceControlWS_ASMX\AggityPresenceControlWS_ASMX.db" />
    
    <!-- +GTT WS -->
    <!--
    <add key="GTT_USER" value ="admingtt"/>
    <add key="GTT_TOKEN" value ="secretToken"/>
    <add key="GTT_PCRAW_URL" value="http://sprint.aggity.com/he/integration?request=PCRawIntegration/create"/>
    -->
    <!-- -GTT WS -->
    
    <add key="GTT_PURGUE_EXPORTED_MARKS_AFTER_DAYS" value ="30"/>
    <add key="GTT_BASE_PATH" value="http://sprint.aggity.com/cardreader" />
    <add key="GTT_REST_AUTHORIZATION"
     value="Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJzZWN1cmUtYXBpIiwiYXVkIjoic2VjdXJlLWFwcCIsInN1YiI6IkFETUlOR1RUIiwiR3R0LVVzZXIiOiJBRE1JTkdUVCIsIkd0dC1Ub2tlbiI6InVmOWs0ODJ1bms3bDR0NW1yanI2Nm9tZ3V1Iiwicm9sZXMiOlsiUk9MRV9VU0VSIl19.SB3YyP_XeJA08zAXAP9tgLO8DPzB-LcvDBVgHhvKu7Y_Pcs1Zkrd-KDvX01dBOxDZ59pfuUD3R3LBJbJOPE6jA"/>

    <add key="PRESHARED_KEY" value ="SecuredSercert"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <!-- init log4net -->
  <log4net>
    <appender name="AggityPresenceControlAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="c:\aggity\logs\AggityPresenceControlWS_ASMX_%date{yyyy_MM_dd}.log" />
      <encoding value="utf-8" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyy-MM-dd" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level [%thread] %type.%method - %message%n" />
      </layout>
    </appender>
    <root>
      <level value="All" />
      <!-- If the following line is not included the log file 
      will not be created even if log4net is configured with this file. -->
      <appender-ref ref="AggityPresenceControlAppender" />
    </root>
  </log4net>
  <!-- end log4net -->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  
</configuration>